@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    background-color: #ccc;
}

nav {
    backdrop-filter: blur(10px);
    background-color: #f3f3f3;
}

.navbar-profile-image {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    object-fit: cover;
    border: 2px solid;
    animation: changeBorder 5s infinite alternate linear;
}

@keyframes changeBorder {
    0% {
        border-color: #003399;
    }

    25% {
        border-color: #3366CC;
    }

    50% {
        border-color: #000080;
    }

    75% {
        border-color: #4682b4;
    }

    100% {
        border-color: #99CCFF;
    }
}

.guest-button {
    border-radius: 50px;
}

.guest-button:hover {
    background-color: #ccc;
}

.forgot-password:hover {
    text-decoration: underline;
}

.guest {
    background: url('../../public/images/backgrounds/bg-white.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 1em 1em 1em black;
}

.guest-container-welcome {
    background: url('../../public/images/backgrounds/b5.jpg');
    background-position: center;
    background-size: cover;
}

.description-container {
    backdrop-filter: blur(10px);
    background-color: transparent;
    width: 29em;
    border-radius: 10px;
    box-shadow: 1em 1em 1em #252525;
    padding: 1em;
}

.description-site {
    color: #252525;
    margin: 0;
    text-align: justify;
}